<!-- Start: Content-Wrapper -->
<section id="content_wrapper">



    <!-- Start: Topbar -->
    <header id="topbar" class="alt">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-active">
                <a href="{:url('index/Index/inf')}">数据接口</a>
                </li>
                <li class="crumb-icon">
                    <a href="/">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
            <li class="crumb-trail">数据接口</li>
            <!--<li class="crumb-trail">数据接口</li>-->
          </ol>
        </div>

    </header>
    <!-- End: Topbar -->

    <!-- Begin: Content -->
    <div id="content" class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">

                <!-- Input Fields -->
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">获取数据</span>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" action="{:url('index/Index/getDatFile')}" method="post" >
                            <div class="form-group">
                                <label for="station" class="col-lg-3 control-label">选择站点</label>
                                <div class="col-lg-8">
                                    <div class="bs-component">
                                        <select class="form-control" id="station" name="station">
                                            {volist name="station" id="s"}<option value="{$s.station_id}">{$s.station_name}</option>{/volist}

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dateRange" class="col-lg-3 control-label">选取时间范围</label>
                                <div class="col-lg-8">
                                    <div class="bs-component">
                                        <input class="form-control" id="dateRange" name="timeLine" type="text" placeholder=" - ">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group col-md-2 center-column">
                                    <button type="button" class="form-control btn btn-rounded btn-primary btn-block col-lg-3" id="dataForm">确定</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            <!-- Field Validation -->
            <!--<div class="panel">
              <div class="panel-heading">
                <span class="panel-title">Validation States</span>
              </div>
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="bs-component">
                    <div class="form-group has-primary">
                      <label class="col-lg-3 control-label" for="inputPrimary">Primary Field</label>
                      <div class="col-lg-8">
                        <span class="append-icon right">
                          <i class="fa fa-gear"></i>
                        </span>
                        <input type="text" class="form-control" id="inputPrimary">
                      </div>
                    </div>
                  </div>
                  <div class="bs-component">
                    <div class="form-group has-success">
                      <label class="col-lg-3 control-label" for="inputSuccess">Success Field</label>
                      <div class="col-lg-8">
                        <span class="append-icon right">
                          <i class="fa fa-check"></i>
                        </span>
                        <input type="text" class="form-control" id="inputSuccess">
                      </div>
                    </div>
                  </div>
                  <div class="bs-component">
                    <div class="form-group has-info">
                      <label class="col-lg-3 control-label" for="inputInfo">Info Field</label>
                      <div class="col-lg-8">
                        <span class="append-icon right">
                          <i class="fa fa-exclamation-circle"></i>
                        </span>
                        <input type="text" class="form-control" id="inputInfo">
                      </div>
                    </div>
                  </div>
                  <div class="bs-component">
                    <div class="form-group has-warning">
                      <label class="col-lg-3 control-label" for="inputWarning">Warning Field</label>
                      <div class="col-lg-8">
                        <span class="append-icon right">
                          <i class="fa fa-exclamation-triangle"></i>
                        </span>
                        <input type="text" class="form-control" id="inputWarning">
                      </div>
                    </div>
                  </div>
                  <div class="bs-component">
                    <div class="form-group has-error">
                      <label class="col-lg-3 control-label" for="inputError">Error Field</label>
                      <div class="col-lg-8">
                        <span class="append-icon right">
                          <i class="fa fa-remove"></i>
                        </span>
                        <input type="text" class="form-control" id="inputError">
                      </div>
                    </div>
                  </div>
                  <div class="bs-component">
                    <div class="form-group has-alert">
                      <label class="col-lg-3 control-label" for="inputAlert">Alert Field</label>
                      <div class="col-lg-8">
                        <span class="append-icon right">
                          <i class="fa fa-flag"></i>
                        </span>
                        <input type="text" class="form-control" id="inputAlert">
                      </div>
                    </div>
                  </div>
                  <div class="bs-component">
                    <div class="form-group has-system">
                      <label class="col-lg-3 control-label" for="inputSystem">System Field</label>
                      <div class="col-lg-8">
                        <span class="append-icon right">
                          <i class="fa fa-bell"></i>
                        </span>
                        <input type="text" class="form-control" id="inputSystem">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>-->

            <!-- Field Icons -->
            <!--<div class="panel">
              <div class="panel-heading">
                <span class="panel-title">Easy Icons</span>
              </div>
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <label class="col-md-2 text-right">With Icons</label>
                  <div class="col-md-10 ph30">
                    <div class="form-group">
                      <div class="bs-component">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="fa fa-envelope-o"></i>
                          </span>
                          <input class="form-control" type="text" placeholder="Email address">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="bs-component">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="fa fa-key"></i>
                          </span>
                          <input class="form-control" type="password" placeholder="Password">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="bs-component">
                        <div class="input-group">
                          <input class="form-control" type="text" placeholder="Numbers">
                          <span class="input-group-addon">00</span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="bs-component">
                        <div class="input-group">
                          <input class="form-control" type="password" placeholder="Money">
                          <span class="input-group-addon">
                            <i class="fa fa-usd"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>-->

            <!-- Field Options -->
            <!--<div class="panel">
              <div class="panel-heading">
                <span class="panel-title">Fields Options</span>
              </div>
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-lg-2 control-label" for="inputSmall">Small</label>
                    <div class="col-lg-10">
                      <div class="bs-component">
                        <input id="inputSmall" class="form-control input-sm" type="text" placeholder=".input-sm">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label" for="inputDefault">Default</label>
                    <div class="col-lg-10">
                      <div class="bs-component">
                        <input id="inputDefault" class="form-control" type="text" placeholder="default style">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label" for="inputLarge">Large</label>
                    <div class="col-lg-10">
                      <div class="bs-component">
                        <input id="inputLarge" class="form-control input-lg" type="text" placeholder=".input-lg">
                      </div>
                    </div>
                  </div>
                  <div class="bs-component">
                    <div class="row form-group">
                      <label class="col-md-2 text-right">Input Lengths</label>
                      <div class="col-xs-2">
                        <input type="text" class="form-control" placeholder=".col-xs-2">
                      </div>
                      <div class="col-xs-3">
                        <input type="text" class="form-control" placeholder=".col-xs-3">
                      </div>
                      <div class="col-xs-5">
                        <input type="text" class="form-control" placeholder=".col-xs-4">
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>-->


          </div>

          <!--<div class="col-md-6">

            &lt;!&ndash; Checkboxes/Radios &ndash;&gt;
            <div class="panel">
              <div class="panel-heading">
                <span class="panel-title">Default Checkboxes/Radios</span>
              </div>
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-md-3 control-label">Radios</label>
                    <div class="col-md-9">
                      <div class="bs-component">
                        <label class="radio-inline mr10">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">1
                        </label>
                        <label class="radio-inline mr10">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">2
                        </label>
                        <label class="radio-inline mr10">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">3
                        </label>
                        <label class="radio-inline mr10">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">4
                        </label>
                        <label class="radio-inline mr10">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">5
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb25">
                    <label class="col-md-3 control-label">Checkboxes</label>
                    <div class="col-md-9">
                      <div class="bs-component">
                        <label class="checkbox-inline mr10">
                          <input type="checkbox" id="inlineCheckbox1" value="option1">1
                        </label>
                        <label class="checkbox-inline mr10">
                          <input type="checkbox" id="inlineCheckbox2" value="option2">2
                        </label>
                        <label class="checkbox-inline mr10">
                          <input type="checkbox" id="inlineCheckbox3" value="option3">3
                        </label>
                        <label class="checkbox-inline mr10">
                          <input type="checkbox" id="inlineCheckbox4" value="option4">4
                        </label>
                        <label class="checkbox-inline mr10">
                          <input type="checkbox" id="inlineCheckbox5" value="option5">5
                        </label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            &lt;!&ndash; Custom Checkboxes &ndash;&gt;
            <div class="panel">
              <div class="panel-heading">
                <span class="panel-title">Custom Checkboxes</span>
              </div>
              <div class="panel-body bg-light pt20 pbn pl30">
                <div class="row">
                  <div class="col-sm-6">
                    <form class="form-horizontal" method="get">

                      <div class="form-group">
                        <div class="col-sm-12 pl15">

                          <div class="bs-component">
                            <div class="checkbox-custom checkbox-disabled mb10">
                              <input type="checkbox" checked="" disabled="" id="checkboxDefault1">
                              <label for="checkboxDefault1">Checked & Disabled</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="checkbox-custom checkbox-disabled">
                              <input type="checkbox" disabled="" id="checkboxDefault2">
                              <label for="checkboxExample2">Disabled</label>
                            </div>

                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-sm-6">
                    <form class="form-horizontal" method="get">

                      <div class="form-group">
                        <div class="col-sm-12 pl15">
                          <div class="bs-component">
                            <div class="checkbox-custom fill checkbox-disabled mb10">
                              <input type="checkbox" checked="" disabled="" id="checkboxDefault11">
                              <label for="checkboxDefault11">Checked & Disabled</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="checkbox-custom fill checkbox-disabled">
                              <input type="checkbox" disabled="" id="checkboxDefault12">
                              <label for="checkboxExample12">Disabled</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="panel-body pl30 pb5">
                <div class="row">
                  <div class="col-sm-6">
                    <form class="form-horizontal" method="get">
                      <label class="control-label mb15">Checkboxes</label>
                      <div class="form-group">
                        <div class="col-sm-12 pl15">
                          <div class="bs-component">
                            <div class="checkbox-custom mb5">
                              <input type="checkbox" checked="" id="checkboxDefault3">
                              <label for="checkboxDefault3">Default</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="checkbox-custom checkbox-primary mb5">
                              <input type="checkbox" checked="" id="checkboxExample4">
                              <label for="checkboxExample4">Primary</label>
                            </div>
                          </div>
                          <div class="bs-component">

                            <div class="checkbox-custom checkbox-success mb5">
                              <input type="checkbox" checked="" id="checkboxExample5">
                              <label for="checkboxExample5">Success</label>
                            </div>

                          </div>
                          <div class="bs-component">
                            <div class="checkbox-custom checkbox-info mb5">
                              <input type="checkbox" checked id="checkboxExample6">
                              <label for="checkboxExample6">Info</label>
                            </div>

                          </div>
                          <div class="bs-component">
                            <div class="checkbox-custom checkbox-warning mb5">
                              <input type="checkbox" checked="" id="checkboxExample7">
                              <label for="checkboxExample7">Warning</label>
                            </div>

                          </div>
                          <div class="bs-component">
                            <div class="checkbox-custom checkbox-danger mb5">
                              <input type="checkbox" checked="" id="checkboxExample8">
                              <label for="checkboxExample8">Danger</label>
                            </div>

                          </div>
                          <div class="bs-component">
                            <div class="checkbox-custom checkbox-alert mb5">
                              <input type="checkbox" checked="" id="checkboxExample9">
                              <label for="checkboxExample9">Alert</label>
                            </div>

                          </div>
                          <div class="bs-component">
                            <div class="checkbox-custom checkbox-system mb5">
                              <input type="checkbox" checked="" id="checkboxExample10">
                              <label for="checkboxExample10">System</label>
                            </div>

                          </div>

                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-sm-6">
                    <form class="form-horizontal" method="get">
                      <label class="control-label mb15">Checkboxes</label>
                      <div class="form-group">
                        <div class="col-sm-12 pl15">

                          <div class="bs-component">
                            <div class="checkbox-custom fill mb5">
                              <input type="checkbox" checked="" id="checkboxDefault13">
                              <label for="checkboxDefault13">Default</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="checkbox-custom fill checkbox-primary mb5">
                              <input type="checkbox" checked="" id="checkboxExample14">
                              <label for="checkboxExample14">Primary</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="checkbox-custom fill checkbox-success mb5">
                              <input type="checkbox" checked="" id="checkboxExample15">
                              <label for="checkboxExample15">Success</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="checkbox-custom fill checkbox-info mb5">
                              <input type="checkbox" checked="" id="checkboxExample16">
                              <label for="checkboxExample16">Info</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="checkbox-custom fill checkbox-warning mb5">
                              <input type="checkbox" checked="" id="checkboxExample17">
                              <label for="checkboxExample17">Warning</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="checkbox-custom fill checkbox-danger mb5">
                              <input type="checkbox" checked="" id="checkboxExample18">
                              <label for="checkboxExample18">Danger</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="checkbox-custom fill checkbox-alert mb5">
                              <input type="checkbox" checked="" id="checkboxExample19">
                              <label for="checkboxExample19">Alert</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="checkbox-custom fill checkbox-system mb5">
                              <input type="checkbox" checked="" id="checkboxExample20">
                              <label for="checkboxExample20">System</label>
                            </div>
                          </div>

                        </div>
                      </div>
                    </form>
                  </div>

                </div>
              </div>

            </div>

            &lt;!&ndash; Custom Radios &ndash;&gt;
            <div class="panel">
              <div class="panel-heading">
                <span class="panel-title">Custom Radios</span>
              </div>
              <div class="panel-body bg-light pt20 pbn pl30">
                <div class="row">
                  <div class="col-sm-6">
                    <form class="form-horizontal" method="get">

                      <div class="form-group">
                        <div class="col-sm-12 pl15">


                          <div class="bs-component">
                            <div class="radio-custom radio-disabled mb10">
                              <input type="radio" id="radioExample1" name="radioExample" disabled="" checked="">
                              <label for="radioExample1">Checked &amp; Disabled</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom radio-disabled">
                              <input type="radio" id="radioExample2" name="radioExample" disabled="">
                              <label for="radioExample2">Disabled</label>
                            </div>
                          </div>

                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-sm-6">
                    <form class="form-horizontal" method="get">

                      <div class="form-group">
                        <div class="col-sm-12 pl15">

                          <div class="bs-component">
                            <div class="radio-custom square radio-disabled mb10">
                              <input type="radio" id="radioExample11" name="radioExample" disabled="" checked="">
                              <label for="radioExample11">Checked &amp; Disabled</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom square radio-disabled">
                              <input type="radio" id="radioExample12" name="radioExample" disabled="">
                              <label for="radioExample12">Disabled</label>
                            </div>
                          </div>


                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="panel-body pl30 pb15">
                <div class="row">
                  <div class="col-sm-6">
                    <form class="form-horizontal form-bordered" method="get">
                      <label class="control-label mb15">Radios</label>
                      <div class="form-group">
                        <div class="col-sm-12 pl15">


                          <div class="bs-component">
                            <div class="radio-custom mb5">
                              <input type="radio" id="radioExample3" name="radioExample">
                              <label for="radioExample3">Default</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom radio-primary mb5">
                              <input type="radio" id="radioExample4" name="radioExample">
                              <label for="radioExample4">Primary</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom radio-success mb5">
                              <input type="radio" id="radioExample5" name="radioExample">
                              <label for="radioExample5">Success</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom radio-info mb5">
                              <input type="radio" id="radioExample6" name="radioExample">
                              <label for="radioExample6">Info</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom radio-warning mb5">
                              <input type="radio" id="radioExample7" name="radioExample">
                              <label for="radioExample7">Warning</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom radio-danger mb5">
                              <input type="radio" id="radioExample8" name="radioExample">
                              <label for="radioExample8">Danger</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom radio-alert mb5">
                              <input type="radio" id="radioExample9" name="radioExample">
                              <label for="radioExample9">Alert</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom radio-system mb5">
                              <input type="radio" id="radioExample10" name="radioExample">
                              <label for="radioExample10">System</label>
                            </div>
                          </div>


                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-sm-6">
                    <form class="form-horizontal form-bordered" method="get">
                      <label class="control-label mb15">Alt Radios</label>
                      <div class="form-group">
                        <div class="col-sm-12 pl15">


                          <div class="bs-component">
                            <div class="radio-custom square mb5">
                              <input type="radio" id="radioExample13" name="radioExample">
                              <label for="radioExample13">Default</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom square radio-primary mb5">
                              <input type="radio" id="radioExample14" name="radioExample">
                              <label for="radioExample14">Primary</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom square radio-success mb5">
                              <input type="radio" id="radioExample15" name="radioExample">
                              <label for="radioExample15">Success</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom square radio-info mb5">
                              <input type="radio" id="radioExample16" name="radioExample">
                              <label for="radioExample16">Info</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom square radio-warning mb5">
                              <input type="radio" id="radioExample17" name="radioExample">
                              <label for="radioExample17">Warning</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom square radio-danger mb5">
                              <input type="radio" id="radioExample18" name="radioExample">
                              <label for="radioExample18">Danger</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom square radio-alert mb5">
                              <input type="radio" id="radioExample19" name="radioExample">
                              <label for="radioExample19">Alert</label>
                            </div>
                          </div>
                          <div class="bs-component">
                            <div class="radio-custom square radio-system mb5">
                              <input type="radio" id="radioExample20" name="radioExample">
                              <label for="radioExample20">System</label>
                            </div>

                          </div>

                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>

            &lt;!&ndash; Custom Switches &ndash;&gt;
            <div class="panel">
              <div class="panel-heading">
                <span class="panel-title">Custom Switches</span>
              </div>
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-md-3 control-label">Switches</label>
                    <div class="col-md-9">

                      <div class="bs-component">
                        <div class="switch switch-info switch-inline">
                          <input id="exampleCheckboxSwitch1" type="checkbox" checked>
                          <label for="exampleCheckboxSwitch1"></label>
                        </div>
                        <div class="switch switch-primary switch-inline">
                          <input id="exampleCheckboxSwitch2" type="checkbox" checked>
                          <label for="exampleCheckboxSwitch2"></label>
                        </div>
                        <div class="switch switch-warning switch-inline">
                          <input id="exampleCheckboxSwitch3" type="checkbox" checked>
                          <label for="exampleCheckboxSwitch3"></label>
                        </div>
                        <div class="switch switch-alert switch-inline">
                          <input id="exampleCheckboxSwitch4" type="checkbox" checked>
                          <label for="exampleCheckboxSwitch4"></label>
                        </div>
                        <div class="switch switch-success switch-inline">
                          <input id="exampleCheckboxSwitch5" type="checkbox" checked>
                          <label for="exampleCheckboxSwitch5"></label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">Round Switches</label>
                    <div class="col-md-9">

                      <div class="bs-component">
                        <div class="switch switch-info round switch-inline">
                          <input id="exampleCheckboxSwitch6" type="checkbox" checked>
                          <label for="exampleCheckboxSwitch6"></label>
                        </div>
                        <div class="switch switch-primary round switch-inline">
                          <input id="exampleCheckboxSwitch7" type="checkbox" checked>
                          <label for="exampleCheckboxSwitch7"></label>
                        </div>
                        <div class="switch switch-warning round switch-inline">
                          <input id="exampleCheckboxSwitch8" type="checkbox" checked>
                          <label for="exampleCheckboxSwitch8"></label>
                        </div>
                        <div class="switch switch-alert round switch-inline">
                          <input id="exampleCheckboxSwitch9" type="checkbox" checked>
                          <label for="exampleCheckboxSwitch9"></label>
                        </div>
                        <div class="switch switch-success round switch-inline">
                          <input id="exampleCheckboxSwitch10" type="checkbox" checked>
                          <label for="exampleCheckboxSwitch10"></label>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">Radio Switches</label>
                    <div class="col-md-9">

                      <div class="bs-component">
                        <div class="switch switch-info switch-inline">
                          <input id="exampleRadioSwitch11" type="radio" name="testGroup" checked>
                          <label for="exampleRadioSwitch11"></label>
                        </div>
                        <div class="switch switch-primary switch-inline">
                          <input id="exampleRadioSwitch12" type="radio" name="testGroup">
                          <label for="exampleRadioSwitch12"></label>
                        </div>
                        <div class="switch switch-warning switch-inline">
                          <input id="exampleRadioSwitch13" type="radio" name="testGroup">
                          <label for="exampleRadioSwitch13"></label>
                        </div>
                        <div class="switch switch-alert switch-inline">
                          <input id="exampleRadioSwitch14" type="radio" name="testGroup">
                          <label for="exampleRadioSwitch14"></label>
                        </div>
                        <div class="switch switch-success switch-inline">
                          <input id="exampleRadioSwitch15" type="radio" name="testGroup">
                          <label for="exampleRadioSwitch15"></label>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="form-group mbn">
                    <label class="col-md-3 control-label">Sizes</label>
                    <div class="col-md-9">

                      <div class="bs-component">

                        &lt;!&ndash; Switch Size - LG &ndash;&gt;
                        <div class="switch switch-info switch-lg switch-inline">
                          <input id="exampleRadioSwitch16" type="radio" name="testGroup2" checked>
                          <label for="exampleRadioSwitch16"></label>
                        </div>

                        &lt;!&ndash; Switch Size - Default &ndash;&gt;
                        <div class="switch switch-primary switch-inline">
                          <input id="exampleRadioSwitch17" type="radio" name="testGroup2">
                          <label for="exampleRadioSwitch17"></label>
                        </div>

                        &lt;!&ndash; Switch Size - SM &ndash;&gt;
                        <div class="switch switch-warning switch-sm switch-inline">
                          <input id="exampleRadioSwitch18" type="radio" name="testGroup2">
                          <label for="exampleRadioSwitch18"></label>
                        </div>

                        &lt;!&ndash; Switch Size - XS &ndash;&gt;
                        <div class="switch switch-alert switch-xs switch-inline">
                          <input id="exampleRadioSwitch19" type="radio" name="testGroup2">
                          <label for="exampleRadioSwitch19"></label>
                        </div>


                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            &lt;!&ndash; Field Help Text &ndash;&gt;
            <div class="panel">
              <div class="panel-heading">
                <span class="panel-title">Fields Options</span>
              </div>
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="inputInline" class="col-lg-2 control-label">Inline Help</label>

                    <div class="bs-component">
                      <div class="col-lg-5">
                        <input id="inputInline" type="text" class="form-control" placeholder="Text Field">
                      </div>
                      <div class="col-lg-5 pl5">
                        <span class="help-block mt5">
                          <i class="fa fa-bell"></i> A block of help text!</span>
                      </div>
                    </div>
                  </div>

                  <hr class="short alt">
                  <div class="form-group mbn">
                    <label for="inputHelp" class="col-lg-2 control-label">Block Help</label>
                    <div class="col-lg-10">
                      <div class="bs-component">
                        <input id="inputHelp" type="text" class="form-control" placeholder="Text Field">
                        <span class="help-block mt5">
                          <i class="fa fa-bell"></i> A block of help text that can help the user</span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>-->
        </div>

      </div>
      <!-- End: Content -->

    </section>
<!-- End: Content-Wrapper -->




